@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../idroid.otf') format('opentype');
    font-weight: normal;
}
:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font-padrao: Arial, Verdana, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
h2{
    font-family: var(--font-destaque);
}
body {
    background-color: #faf0b6;
    font-family: var(--font-padrao);

}
main p{
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.1em;
    font-size: 1.1em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;

}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    pointer-events:all;
    background-color: var(--cor2);
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    text-align: center;
    margin: 0px;
    height: 150px;
    padding-top: 40px;
}

header > h1 {
    color:  #ffffff;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 5px 3px rgba(0, 0, 0, 0.322);
}
header > p{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.322);
    margin-bottom: 30px;
}
nav{
    padding: 10px;
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.575);
}
nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
nav > a:hover{
    color: var(--cor2);
    transition: 0.5s all;
}
main  {
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
img{
    width: 100%;
    max-width: 800px;
}
main{
    background-color: white;
}
main > article >h1 {
    color: #063d1e;
    font-family: var(--font-android);
}

main > article > h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor1), transparent);
}
aside{
    background-color: var(--cor1);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);
}
aside ul{
    list-style-type:'\2714';
    list-style-position: inside;
    columns: 2
}
aside h3{
    background-color: var(--cor4);
    color: #ebe5c5;
    margin: -10px -10px 0px -10px;
    padding: 7px;
    border-radius: 10px 10px 0px 0px;
}
.android{
    max-width: 350px;
    margin: auto;
    display: block;
}
.videosite{
    background-color: #1a5c37;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative
}
iframe{
    position: absolute;
    top:5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

footer{
    background-color: #063d1e;
    color: #ffffff;
    text-align: center;
}